<h1>charlas</h1>
<div class="row" ng-init="loadTalks()">
  <div class="col-sm-6 col-md-4" ng-repeat="talk in talks">
    
    <div class="caption">
      <h3>{{talk.title}}</h3>
      <p>
        rhoncus a turpis elementum amet nec augue! Por
      </p>
      <p>
        <a href="#" class="btn btn-primary" role="button">
        Detalle
        </a>
      </p>
    </div>
    
  </div>
</div>
<div ui-view>

</div>
<div>
  <a class="btn btn-primary"
  ui-sref="events.detail.talks.create">
    Crear charla
  </a>
</div>