<h1>Charlas</h1>
<div ui-view>
  <div>
    <a class="btn btn-primary"
       role="button"
       ui-sref="events.detail.talks.create">
      Crear charla
    </a>
  </div>
</div>
<div class="row" ng-init="loadTalks()">
  <div class="col-sm-6 col-md-4" ng-repeat="talk in talks">
    <div class="caption">
      <h3>
        <a ui-sref="events.detail.talksdetail({talkId: talk.id})">
          {{talk.title}}
        </a>
      </h3>
      <p>
        rhoncus a turpis elementum amet nec augue! Por
      </p>
      <p>
        <a class="btn btn-info"
          role="button"
          ui-sref="talk.detail({talkId: talk.id, eventId: params.id})">
          Asistencia
        </a>
      </p>
    </div>
  </div>
</div>
